/* For Portfolio Section */

.portfolio {
  background: url(../Images/portfolio-bg1.jpeg) no-repeat center top fixed;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}
.portfolio .P-title h3 {
  font-family: "Poiret One", "Montserrat", "Roboto";
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #f1f1f1;
  margin-bottom: 3rem;
}
.portfolio .P-title h3:hover {
  color: #feab11;
}
.portfolio-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
}
.portfolio-main {
  display: flex;
  justify-content: center;
  text-align: center;
}
.portfolio-item {
  display: inline-block;
  overflow: hidden;
  width: 279px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.portfolio-title {
  margin-top: 1rem;
  font-family: "Montserrat", "Roboto";
  font-size: 1rem;
  color: #f1f1f1;
}
.portfolio-title:hover {
  color: #feab11;
}

.portfolio-link {
  position: relative;
  width: 50%;
}
.P-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.P-hMiddle {
  transition: 0.5s ease;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.portfolio-link:hover .P-image {
  opacity: 0.3;
}

.portfolio-link:hover .P-hMiddle {
  opacity: 1;
}

.P-hText {
  background-color: #3b4258;
  font-family: "Poiret One", "Montserrat", "Roboto";
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* .portfolio-img {
  transition: 0.3s ease-in-out;
}

.portfolio-img:hover {
  cursor: pointer;
  transform: rotate(20deg); 
}*/
