.skills {
  margin-top: 1rem;
  background-image: url(../Images/water.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
.skillTitle {
  font-family: "Poiret One", "Montserrat", "Roboto";
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
  text-shadow: 0 0 5px black;
}

.skillsWrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}
.skillsHeader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.skillBackground,
.skillForeground {
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.skillBackground {
  transform: translateZ(-10px) scale(2);
}
.skillForeground {
  transform: translateZ(-5px) scale(1.5);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.skillsBox h3 {
  font-family: "Poiret One", "Montserrat", "Roboto";
  font-weight: bold;
  margin-bottom: 2rem;
  color: #276971;
}
.skillsTech h5,
.skillsOther h5 {
  font-family: "Montserrat", "Roboto";
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.skillsTech,
.skillsOther {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 500px;
  width: 300px;
  border-radius: 35px;
  border: 5px solid black;
}
