.contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
.contact-text {
  font-family: "Poiret One", "Montserrat", "Roboto";
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 1rem;
}
.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url("../Images/Bubbling.gif");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5% 20%;
}

.contact-name,
.contact-email,
.contact-massage {
  margin-top: 1rem;
}
.contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-btn--active {
  background-color: #5d86bc;
}

.contact-btnIcon {
  margin-left: 1rem;
}
.SM-smBox {
  margin-top: 3rem;
}
.SM-Title {
  font-size: 45px;
  font-family: "Poiret One", "Montserrat", "Roboto";

  text-align: center;
}
.SM-socialMedia {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.SM-socialMedia > a {
  font-size: 26px;
  color: #202020;
  border: 2px solid #202020;
  border-radius: 100%;
  height: 45px;
  width: 45px;
  margin: 10px;
  line-height: 45px;
  text-align: center;
  display: inline-block;
  transition: 0.3s ease-in-out;
}
.SM-socialMedia > a:hover {
  color: #b12424;
  cursor: pointer;
  transform: scale(1.2);
}
